[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=UMedia
Exec=/usr/bin/single-instance /opt/UMedia/bin/UMedia
Icon=/usr/share/icons/hicolor/80x80/apps/UMedia80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
